<div class="container-fluid">
    <div class="content transaction-history m-t-20" >
        <div class="m-b-20" fxLayoutAlign="space-between center">
            <strong class="txt-18">Recent Transactions</strong>
            <span class="link txt-16">Filter</span>
        </div>
        <div>
            <mat-card>
                <div fxLayoutAlign="space-between center">
                    <div>
                        <span>Zomato Pay later</span>
                        <p class="date">14 June 2021</p>
                    </div>
                    <div>
                        <span class="approve">+ ₹150</span>
                    </div>
                </div>
                <div fxLayoutAlign="space-between center">
                    <div>
                        <span>Swiggy Cashback</span>
                        <p class="date">14 June 2021</p>
                    </div>
                    <div>
                        <span class="approve">+ ₹150</span>
                    </div>
                </div>
                <div fxLayoutAlign="space-between center">
                    <div>
                        <span>Swiggy Cashback</span>
                        <p class="date">14 June 2021</p>
                    </div>
                    <div>
                        <span class="approve">+ ₹150</span>
                    </div>
                </div>
                <div fxLayoutAlign="space-between center">
                    <div>
                        <span>Swiggy Cashback</span>
                        <p class="date">14 June 2021</p>
                    </div>
                    <div>
                        <span class="error">+ ₹150</span>
                    </div>
                </div>
                <div fxLayoutAlign="space-between center">
                    <div>
                        <span>Swiggy Cashback</span>
                        <p class="date">14 June 2021</p>
                    </div>
                    <div>
                        <span class="error">+ ₹150</span>
                    </div>
                </div>

               
            </mat-card>
        </div>
    </div>
</div>
