<ng-template #redirectToMerchant>
    <!-- <mat-icon class="close-icon" color="dark" mat-dialog-close>close</mat-icon> -->
    <!-- <h2 mat-dialog-title class="mb-0">Title</h2> -->
     <mat-dialog-content class="mat-typography" >
         <div class="m-t-20 m-b-20" fxLayoutAlign="space-around center">
            <svg xmlns="http://www.w3.org/2000/svg" height="80px" viewBox="0 0 24 24" width="80px" fill="#2a65c3"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M16 1H8C6.34 1 5 2.34 5 4v16c0 1.66 1.34 3 3 3h8c1.66 0 3-1.34 3-3V4c0-1.66-1.34-3-3-3zm1 17H7V4h10v14zm-3 3h-4v-1h4v1z"/></svg>
         </div>
       <div class="row">
        <strong> Redirecting to Merchant’s app</strong> 
      </div>
    </mat-dialog-content>
    <div class="m-t-20" fxLayoutAlign="center center">
        <button class="btn-primary plr-30" [mat-dialog-close]="true" cdkFocusInitial >Okay</button>
    </div>

  
    
</ng-template>


<div class="content">
    <div class="m-t-20 m-b-40 p-l-20">
        <h4 class="m-b-40">Linked Accounts</h4>
        <div class="brand-list ">
            <ul fxLayoutAlign="start center" >
                <li (click)="openModal(redirectToMerchant)"><a><img src="./assets/images/swiggy.png" alt="img"></a></li>
                <li (click)="openModal(redirectToMerchant)"><a><img src="./assets/images/zomato-logo.png" alt="img"></a></li>
                <li (click)="openModal(redirectToMerchant)"><a><img src="../../assets/images/pf.jpeg" alt="img"> </a></li>
            </ul>
        </div>
    </div>
</div>